{% set current_page = "about" %}
{% set title = "About" %}

{% extends "layout/page.html" %}

{% block page_content %}
<h4>Welcome to OSX Rift.</h4>
<p>This is a place to share all virtual reality resources capable of working on OSX, from tips to get the most out of your Rift on OSX to tech-demos, games and apps. We're a community to enable Mac to be a capable machines in VR and to stop history from repeating itself with the PC gaming situation.</p>

<p>OSX already get's left out in the cold quite a bit when it comes to VR. Around a third of all available demos and games on share.oculus.com are compatatible with Mac (even with Unity's huge share on VR development and it's ability to export to Mac). This is an unfortunate situation, because us Mac users are forced to watch a PC counterparts have all the fun with their new shiny games and toys.</p>
<p><strong>OSX Rift is not about elitism</strong>, it's about creating a VR ecosystem on OSX to inspire developers to add support for Mac with their games and demos, not just PC. We're attempting to be a curated <a href="http://share.oculus.com">share.oculus.com</a> focused on Mac with added reviews, tips and advice on getting started.</p>
{% endblock %}